In [1]:
import socket
import time
import json
import threading
import pandas as pd
import re
import sys
import numpy as np
import os
from datetime import datetime

#### This is a visualization of our DNS Zones

![zones_telematik.png](zones_telematik.png)

### This class is representing a DNS server and is handing all requests and responses to a DNS server

In [2]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        else:
            return super(NpEncoder, self).default(obj)
  
#     def load_config(self):
#         ## load all entries for my zone
#         with open('names.json') as dnsnamedata:
#             data = json.load(dnsnamedata)
#             dns_zone = data[zone_number]
class DNS(object):
    stop_threads= False
    #socket = None
#     address = None
#     port = None
    #is_authorative = 0 #is this server an authorative server?
    #is_root = 0        #is this server a root server?
    #dns_zone = None    #own dns zone as json
    #records_in_own_zone = None #all ns and a records in own zone. (this information is alreay 
                                    #conrained in the dns_zone variable but we are keeping this sepearate variable for now )  
#     def __init__(self, zone_number, authorative, is_root, seconds=2000,addr='127.0.0.11', port=53053): 
#         self.address = addr
#         self.port    = port
    def __init__(self, config, seconds=2000): 
        self.config = config
        self.origin = config["$origin"]
        self.ip = config["$ip"]
        self.port  = config["$port"]
        self.is_authorative = config["$authorative"]
        self.root = config["$root"]
        self.socket = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
        self.run_thread = True
        self.req_snd=0
        self.req_rcv=0
        self.resp_snd=0
        self.resp_rcv=0
        self.log_df=None
        #self.is_root = is_root
        self.records_in_own_zone = self.load_records()
        self.socket.bind((self.ip,self.port))
        if os.path.exists("{}.csv".format(self.ip)):
            os.remove("{}.csv".format(self.ip))

    '''loads all entrys for own zone from our json file. 
    (e.g. zonename: telematik for zone (telematik, swith, router))'''
    def load_records(self):
        ## load the records from the config
        
        telematik_dns_dict = {'ns': pd.DataFrame(self.config['ns'])['host'].tolist(),
                              'a':pd.DataFrame(self.config['a'])['value'].tolist(),
                              'ttl':pd.DataFrame(self.config['a'])['ttl'].tolist()}
        records_in_own_zone = pd.DataFrame(telematik_dns_dict, columns = ['ns','a','ttl' ])
        return records_in_own_zone

    
    '''checks if a requested entry is in own zone. 
    (e.g. this zonename is telematik and requested address is for dns name www.swith.telematik.
    Means that swith is in our zone and we can send the adress for switch.telematik)
    Returns None if not. '''
    def is_in_own_zone(self, qry_name):
        #names_i_know = pd.DataFrame(data[0]['ns'])['host'].tolist()
        
        print('check if {} is in our zone'.format(qry_name))
        
        ns = None
        a = None
        ttl = None
        for counter,name in enumerate (self.records_in_own_zone['ns']):
            #define pattern somestring.name
            pattern = re.compile(r'(.*?)('+str(name)+')?$')

            #apply the qry_name we are looking for to the patter and return a list with results
            # e.g. ['www.switch', '.telematik'] for mattching or ['www.switch.telematik1', None] for not matching
            groups = pattern.match(qry_name).groups()
            if(groups[1] != None): 
                ns = self.records_in_own_zone['ns'][counter]
                a = self.records_in_own_zone['a'][counter]
                ttl = self.records_in_own_zone['ttl'][counter]
        return ns, a, ttl
        #return telematik_dns_df[telematik_dns_df['ns'] == forward_to]
    
    #check if this dns can send directly the authorative answer?
    #def have_authorative_answer():
    
    def build_response(self, msg_json):
        payload= {}
        msg = json.loads(msg_json)
        if not msg['dns.flags.response']:  # if a question set this flag to 1 (answer)
            payload['dns.flags.response'] = 1
        else:
            payload['dns.flags.response'] = 0  # do nothing??????????????????????
        payload['dns.flags.recavail'] = 0
        payload['dns.qry.name'] = msg['dns.qry.name']
        payload['dns.qry.type'] =  msg['dns.qry.type']                # 1steht für a record "????????????????????????????????????????"
        ns, a, ttl  = self.is_in_own_zone(msg['dns.qry.name'])
        if a == None:
            payload['dns.flags.rcode'] = 3
        else:
            payload['dns.flags.rcode'] = 0
        payload['dns.count.answers'] = 1 # es können auch mehrere ip's einen dns vertreten!!!
        payload['dns.flags.authoritative'] = self.is_authorative
        payload['dns.a'] = a
        payload['dns.rsp.ttl.a'] = ttl
        payload['dns.ns'] = ns
        return payload
    
#     def build_dataframe():
        
        
#     def write_log():
    def response_to_client(payload, client_addr):
        
        try:
            payload['dns.flags.response'] = 'Changed!'
            payload_json = json.dumps(payload)
            time.sleep(0.5)
            server_socket.sendto(bytes(payload_json, 'utf-8'), client_addr)
            # nachricht kommt rein 
            # nachricht wird geschickt
        except:
            print('could not respond to client: ',client_addr)
        
    def send_request(self, ip, port, payload_json):
        self.socket.sendto(bytes(payload_json, 'utf-8'),(ip, port))
        print("message successfull sended to ip:{} port:{}\n".format(ip,port), payload_json)
    #this method is to start a thread to listen and handle requests and responses.
    
    def write_log(self,rec, payload, ip, port, rec_time):
    
        if rec:
            if payload['dns.flags.response']==1:
                self.resp_rcv += 1
            else: 
                self.req_rcv +=1
        else:
            if payload['dns.flags.response']==1:
                self.resp_snd += 1
            else: 
                self.req_snd +=1
        entry_values = [rec_time, ip, self.req_snd, self.req_rcv, self.resp_snd, self.resp_rcv]
        df = pd.DataFrame([entry_values],columns=["epoch_timestamp", "ip_adress", "req_snd","req_rcv","resp_snd","resp_rcv"])
        if self.log_df is None:
            self.log_df= df
            df.to_csv(path_or_buf="{}.csv".format(self.ip))
        else:
            self.log_df = self.log_df.append(df)
            log_df = self.log_df
            log_df.to_csv(path_or_buf="{}.csv".format(self.ip))
              
    def start(self):
        print(self.ip,self.port,"is listening")
        while self.run_thread:
            
            client_message, client_addr = self.socket.recvfrom(1024)
            now = datetime.now()
            rec_time = now.strftime("%H:%M:%S")
            client_ip = client_addr[0]
            client_port = client_addr[1]
            client_message_json = json.dumps(json.loads(client_message), cls=NpEncoder, indent=4) 
            print("server ({}) got message from:{}:{}\n".format( self.origin, client_ip, client_port), client_message_json)
            payload = self.build_response(client_message)
            rec =True
            self.write_log(rec,payload, client_ip, client_port, rec_time)
            payload_json = json.dumps(payload, cls=NpEncoder, indent=4)
            self.send_request(client_ip, client_port, payload_json)
            now = datetime.now()
            rec_time = now.strftime("%H:%M:%S")
            rec =False
            self.write_log(rec,payload, client_ip, client_port, rec_time)

In [3]:
def create_dns_servers():
    ## load all entries for my zone
    dns_servers=[]
    with open('names.json') as dnsnamedata:
        dns_server_configs = json.load(dnsnamedata)
    for dns_server_config in dns_server_configs:
        dns_servers.append(DNS(dns_server_config))
    return dns_servers

def start_dns_servers(dns_servers):
    ## load all entries for my zone
    dns_threads=[]
    for dns in dns_servers:
        time.sleep(0.5)
        resolver_thread = threading.Thread(target=dns.start)
        dns_threads.append(resolver_thread)
        resolver_thread.start()
    return dns_threads

In [4]:
dns_servers = create_dns_servers()
dns_threads =  start_dns_servers(dns_servers)
#t = DNS(zone0)

127.0.0.11 53053 is listening
127.0.0.12 53053 is listening
127.0.0.14 53053 is listening
127.0.0.15 53053 is listening
127.0.0.13 53053 is listening
127.0.0.16 53053 is listening
127.0.0.17 53053 is listening
server (.) got message from:127.0.0.10:53053
 {
    "dns.flags.response": 0,
    "dns.flags.recdesired": 1,
    "dns.qry.name": ".switch.telematik",
    "dns.qry.type": 1
}
check if .switch.telematik is in our zone
message successfull sended to ip:127.0.0.10 port:53053
 {
    "dns.flags.response": 1,
    "dns.flags.recavail": 0,
    "dns.qry.name": ".switch.telematik",
    "dns.qry.type": 1,
    "dns.flags.rcode": 3,
    "dns.count.answers": 1,
    "dns.flags.authoritative": 0,
    "dns.a": null,
    "dns.rsp.ttl.a": null,
    "dns.ns": null
}
server (.) got message from:127.0.0.10:53053
 {
    "dns.flags.response": 0,
    "dns.flags.recdesired": 1,
    "dns.qry.name": ".switch.telematik",
    "dns.qry.type": 1
}
check if .switch.telematik is in our zone
message successfull sended to ip:127.0.0.10 port:53053
 {
    "dns.flags.response": 1,
    "dns.flags.recavail": 0,
    "dns.qry.name": ".switch.telematik",
    "dns.qry.type": 1,
    "dns.flags.rcode": 3,
    "dns.count.answers": 1,
    "dns.flags.authoritative": 0,
    "dns.a": null,
    "dns.rsp.ttl.a": null,
    "dns.ns": null
}

In [5]:
DNS.stop_threads =True

t = DNS(zone0)
resolver_thread = threading.Thread(target=t.start)
resolver_thread.start()

a = {'dns.flags.response': 1, 'dns.flags.recavail': 0, 'dns.qry.name': '.switch.telematik', 'dns.qry.type': 1, 'dns.flags.rcode': 0, 'dns.count.answers': 1, 'dns.flags.authoritative': 0, 'dns.a': '255.255.255.255', 'dns.rsp.ttl.a': 400, 'dns.ns': 'switch.telematik'}

In [12]:
json.dumps(a)

'{"dns.flags.response": 1, "dns.flags.recavail": 0, "dns.qry.name": ".switch.telematik", "dns.qry.type": 1, "dns.flags.rcode": 0, "dns.count.answers": 1, "dns.flags.authoritative": 0, "dns.a": "255.255.255.255", "dns.rsp.ttl.a": 400, "dns.ns": "switch.telematik"}'

msg ={
    "dns.flags.response":0,
    "dns.flags.recdesired":1,
    "dns.qry.name":".switch.telematik",
    "dns.qry.type":1
}

msg_json = json.dumps(msg, indent=4)

t.build_response(msg_json)

payload_dict ={  
    "dns.flags.response": 1,
    "dns.flags.recdesired": "placeholder",
    "dns.qry.name": "placeholder",
    "dns.qry.type": "placeholder",
    "dns.flags.rcode": "placeholder",
    "dns.count.answers": "placeholder",
    "dns.flags.authoritative": "placeholder",
    "dns.a": "127.0.0.10",
    "dns.ns": "www.switch.telematik",
    "dns.resp.ttl": 1234,
    "dns.srv.name": "placeholder",
    "dns.srv.port": "placeholder",
    "dns.srv.proto": "placeholder",
    "dns.srv.service": "placeholder",
    "dns.srv.target": "placeholder"
}

now = datetime.now()
rec_time = now.strftime("%H:%M:%S")
rec_time


city = pd.DataFrame([['Sacramento', 'California'], ['Miami', 'Florida']], columns=['City', 'State'])

In [7]:
city

         City       State
0  Sacramento  California
1       Miami     Florida

In [28]:
city2 = city.append(city)
city2.to_csv('test0.csv')

In [76]:
values= list(payload_dict.values())
values_list = [[v] for v in values]

In [6]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 22:34:11

In [92]:
test_keys =keys[0:3]
test_keys

['dns.flags.response', 'dns.flags.recdesired', 'dns.qry.name']

In [5]:
city = pd.DataFrame([['Sacramento', 'California'], ['Miami', 'Florida']], columns=['City', 'State'])
city

         City       State
0  Sacramento  California
1       Miami     Florida

In [17]:
import os
if os.path.exists("log.csv"):
    os.remove("log5.csv")

In [14]:
city3 = city2.append(city)
city3

         City       State
0  Sacramento  California
1       Miami     Florida
0  Sacramento  California
1       Miami     Florida
0  Sacramento  California
1       Miami     Florida

In [18]:
city3.to_csv("log5.csv")
city3

         City       State
0  Sacramento  California
1       Miami     Florida
0  Sacramento  California
1       Miami     Florida
0  Sacramento  California
1       Miami     Florida

In [125]:
test= pd.DataFrame([values[0:3]], columns=test_keys)
test.append(test)

   dns.flags.response dns.flags.recdesired dns.qry.name
0                   0          placeholder  placeholder
0                   0          placeholder  placeholder

In [127]:
test

   dns.flags.response dns.flags.recdesired dns.qry.name
0                   0          placeholder  placeholder

In [60]:
t.append(s)

dns.flags.response                            0
dns.flags.recdesired                placeholder
dns.qry.name                        placeholder
dns.qry.type                        placeholder
dns.flags.rcode                     placeholder
dns.count.answers                   placeholder
dns.flags.authoritative             placeholder
dns.a                                127.0.0.10
dns.ns                     www.switch.telematik
dns.resp.ttl                               1234
dns.srv.name                        placeholder
dns.srv.port                        placeholder
dns.srv.proto                       placeholder
dns.srv.service                     placeholder
dns.srv.target                      placeholder
dns.flags.response                            0
dns.flags.recdesired                placeholder
dns.qry.name                        placeholder
dns.qry.type                        placeholder
dns.flags.rcode                     placeholder
dns.count.answers                   placeholder
dns.flags.authoritative             placeholder
dns.a                                127.0.0.10
dns.ns                     www.switch.telematik
dns.resp.ttl                               1234
dns.srv.name                        placeholder
dns.srv.port                        placeholder
dns.srv.proto                       placeholder
dns.srv.service                     placeholder
dns.srv.target                      placeholder
dtype: object

In [44]:
values = list(payload_dict.values())

In [52]:
testos = pd.DataFrame(data=payload_dict)

ValueError: If using all scalar values, you must pass an index

In [134]:
testos2 = testos.append(testos)

In [197]:
import glob
import os
if os.path.exists("log.csv"):
    os.remove("log.csv")

In [199]:
test = test.append(test)
test.to_csv(path_or_buf="log2.csv")

In [201]:
test

   dns.flags.response dns.flags.recdesired dns.qry.name
0                   0          placeholder  placeholder
0                   0          placeholder  placeholder
0                   0          placeholder  placeholder
0                   0          placeholder  placeholder